@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010102;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
  @apply bg-gradient-to-r from-[#6A41FB] to-[#F49957] text-white;
}

.text-gradient {
  @apply bg-gradient-to-r from-[#6A41FB] to-[#F49957] text-transparent bg-clip-text;
}
